@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url('font/Helvetica.ttf');
}
@font-face {
    font-family: 'Helvetica Bold', sans-serif;
    src: url('font/Helvetica-Bold.ttf');
}
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    --title-color: rgba(0,0,0,.8);
    --body-color: #fff;   
    --container-color: hsla(0, 0%, 95%, 1);
  
    /*========== Font and typography ==========*/
    --body-font: "Helvetica", sans-serif;
    --body-font-bold: "Helvetica Bold", sans-serif;
    --ibm-font: 'IBM Plex Mono', sans-serif;
  
    /*.5rem = 8px | 1rem = 16px ...*/
    --big-font-size: 11rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.7rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
     /**
     * spacing
     */
  
     --section-padding: 50px;
  
     /**
      * shadow
      */
      
     --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
     --shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
     --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);
   
     /**
      * transition
      */
   
     --transition: 0.25s ease;
     --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
     --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
   list-style: none;
}

img{
    height: 100%;
}

a,
span,
img,
li,
input,
button,
i{
    display: block;
}

i,
button{
    cursor: pointer;
}

button,
input{
    border: none;
    outline: none;
    background: transparent;
}

input{
    width: 100%;
}


html{
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

body{
    background-color: var(--container-color);
    color: var(--title-color);
    line-height: 1.4;
}


/* REUSED */

.container{
    padding-inline: 15px;
}

.section{
    padding-block: var(--section-padding);
}

.grid{
    display: grid;
    align-items: center;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* HEADER */

.header{
    position: relative;
    top: 0;
    left: 0;
    padding-block: 15px;
    width: 100%;
    transition: var(--transition);
    z-index: 4;
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
    /* font-family: var(--ibm-font); */
    color: var(--title-color);
    font-weight: 600;
    font-size: var(--h2-font-size);
}

@media screen and (max-width: 767px) {
    .nav_menu{
        position: fixed;
        top: 0;
        left: -360px;
        height: 100%;
        width: 320px;
        z-index: 100 !important;
        box-shadow: var(--shadow-1);
        background-color: var(--body-color);
        transition: .35s var(--cubic-in);
    }
}

.nav_menu.active{
    left: 0;
    transition: .5s var(--cubic-out);
}

.nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    padding-inline: 16px 28px;
}

.nav_close,
.nav_open{
    font-size: 25px;
}

.nav_list{
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-left: 16px;
}

.nav_link{
   font-family: var(--ibm-font);
   color: var(--title-color);
   opacity: .5;
   font-weight: 500;
   font-size: 14px;
}
.nav_link.active{
    color: var(--title-color);
    opacity: 1;
}
.overlay{
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    background-color: var(--title-color);
    transition: var(--transition);
}

.overlay.active{
    visibility: visible;
   opacity: 1;
}

/* HOME */

.welcome{
    --header-height: 1rem;
    padding-block: 0 calc(var(--header-height) + 2.5rem);
}

/* .welcome_title{
    font-size: var(--big-font-size);
    margin-block-start: -70px;
    font-weight: 900;
    background:  url("../image/Welcome.jpeg") no-repeat center;
    background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.welcome_subtitle{
   font-size: 2.1rem;
   padding-left: .8rem;
   margin-block-start: -50px;
}

/* ABOUT */
.about_container{
    row-gap: 1.5rem;
}
.about_title{
    font-size: var(--h3-font-size);
    font-weight: 700;
    margin-block-end: 15px;
}

.about_text{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    margin-block-end: 15px;
}

.about_item_text{
    margin-block-start: 20px;
    font-family: var(--ibm-font);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--title-color);
}

.about_item_title{
    font-weight: 700;
    margin-block-end: 10px;
}

.follow_example_text{
    font-family: var(--ibm-font);
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #000;
    opacity: .35;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.follow_example_text:not(:first-child) span{
    text-decoration: underline;
}


/* Types */

.type_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.type_container{
    margin-top: 35px;
}

[data-tab-content] {
    display: none;
  opacity: 0;
  visibility: hidden;
}

.active[data-tab-content] {
    display: block;
  opacity: 1;
  visibility: visible;
}

.tabs {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tab{
    padding: 8px 12px;
    font-family: var(--ibm-font);
    color: var(--title-color);
    opacity: .35;
    font-weight: 500;
    font-size: 14px;
    border-radius: 11px;
    border: 1px solid #ccc;
}
.tab.active{
    opacity: 1;
}
.types_content{
    margin-block-start: 25px;
}

.types_content_title
{
    display: none;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-block-end: 15px;
}

.types_content_text{
    font-family: var(--ibm-font);
    font-size: 14px;
    font-weight: 500;
}

.types_content_subtitle{
    margin-block-end: 10px;
    margin-block-start: 40px;
    font-family: var(--ibm-font);
    font-size: 14px;
}

.types_list{
    margin-block-start: 15px;
    display: grid;
    row-gap: .5rem;
}

.types_item{
    display: flex;
    align-items: baseline;
    gap: .3rem;
}

.number{
    font-family: var(--ibm-font);
    font-size: 14px;
    font-weight: 500;
}

/* CREW */

.crew_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-block-end: 35px;
}

.crew_info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.crew_img{
    width: 58px;
    height: 58px;
    border-radius: 12px;
}

.crew_position{
    font-family: var(--ibm-font);
    font-size: 14px;
    font-weight: 500;
}

.crew_name{
    font-size: 18px;
    font-weight: 600;
}

.card_content .crew_data{
    visibility: hidden;
}

.card_content{
    margin-block-start: -55px;
}

.crew_text{
    font-family: var(--ibm-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-block-end: 15px;
}

.card_social{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.card_social i{
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.1rem;
    border-radius: 50%;
    font-size: 1.25rem;
    text-align: center;
    border:1px solid var(--title-color);
    color: var(--title-color);
}

.crew_container{
    row-gap: 3rem;
}

/* CONTACT */

.contact_form{
    max-width: 300px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    margin-block-end: 25px;
}
.contact_title{
    font-size: 1.46rem;
    text-transform: uppercase;
    font-family: var(--body-font);
    font-weight: 700;
    margin-block-end: 25px;
}

.contact_field{
    margin-block-end: 10px;
    background-color: var(--body-color);
    border-radius: 20px;
    padding: 14px 17px;
    font-size: .75rem;
    font-family: var(--ibm-font);
    box-shadow: var(--shadow-1);
}

.contact_form textarea{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

.contact_button_submit{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    justify-content: center;
    text-align: center;
    gap: 8px;
    border-radius: 20px;
    background-color: var(--title-color);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--ibm-font);
    transition: var(--transition);
    color: var(--body-color);
    font-size: .85rem;
    box-shadow: var(--shadow-1);
}
.contact_button_submit:hover{
    background-color: #000;
}
.contact_text{
    margin-block-end: 13px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.contact_link{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: center;
}

.copyright{
    margin-left: -10px;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 14px;
    line-height: 22px; 
    font-weight: 500;
    font-family: var(--ibm-font);
    margin-block-start: 15px;
}

.copyright_link{
    text-decoration: underline;
}


@media screen and (max-width: 424px) {
     :root{
        --big-font-size: 9.5rem;
     }

     .welcome_subtitle{
        font-size: 1.8rem;
     }
}


@media screen and (min-width: 567px){
    .welcome{
        padding-block: 1rem 5rem;
     }
    :root{
        --big-font-size: 19rem;
    }
    .welcome_subtitle{
        margin-block-start: -80px;
        font-size: 3.8rem;
    }
}





@media screen and (min-width: 768px) {
    :root{
        --big-font-size: 18rem;
    }
    .container{
        max-width: 700px;
        width: 100%;
        margin-inline: auto;
    }

    .nav_top,
    .nav_open,
    .overlay{
        display: none;
    }

    .navbar{
        justify-content: start;
    }
  
    .nav_menu{
        margin-inline-start: 5.54rem;
    }
    .nav_list{
        flex-direction: row;
        gap: 1rem;
        margin-right: auto;
        margin-block-start: 0;
    }

    /* WELCOME */

    .welcome{
       padding-block: 1rem 5rem;
    }

    .welcome_title{
        line-height: initial;
        text-align: center;
    }
    .welcome_subtitle{
        margin-block-start: -80px;
        font-size: 3.5rem;
    }

    /* ABOUT */
    .about_container {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        margin-block-start: -150px;
    }

    .about_box:nth-child(2){
        padding-block-start: 14rem;
    }

    /* Types */

    .type_container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
        align-items: baseline;
    }

    .tabs{
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        top: 20px;
    }
    [data-tab-content]{
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .types_content_title{
        display: block;
    }
    .types_content{
        display: grid;
        row-gap: 5rem;
    }

    /* crew */

    .crew_card{
        display: grid;
        grid-template-columns: .5fr 1.5fr;
        align-items: flex-start;
        gap: 1rem;
    }

    .card_content{
        margin-block-start: 0;
    }
    .crew_info .crew_data{
        visibility: hidden;
    }

    .crew_img{
        width: 133px;
        height: 133px;
    }

    .card_content .crew_data{
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-end: 15px;
    }
    
    .card_content .card_social{
        visibility: hidden;
    }
    
    .card_content .crew_data .card_social{
        visibility: visible;
    }

    /* CONTACT */
    .contact_form{
        max-width: 420px;
    }
    /* footer */
    .footer .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer .card_social{
        order: 1;
    }
}

@media screen and (min-width: 992px) {
    :root{
        --big-font-size: 25rem;
    }
    .container{
        max-width: 900px;
    }


    .nav_list{
        margin-inline-start: 7rem;
    }
    .welcome_subtitle{
        font-size: 4.68rem;
        margin-block-start: -120px;
        padding-left: 0rem;
    }

    .about_title{
        font-size: 40px;
        line-height: 56px;
    }

    .about_text{
        font-size: 32px;
        line-height: 46px;
    }
    .about_container{
        margin-block-start: -310px;
    }

    .about_box:nth-child(2){
        padding-block-start: 25rem;
    }

    .type_title,
    .crew_title{
        font-size: 40px;
        line-height: 56px;
    }

    .crew_img{
        width: 190px;
        height: 190px;
    }

    .contact_text{
        font-size: 40px;
        line-height: 56px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1204px;
    }
    .crew_container{
        max-width: 900px;
        margin-inline: auto;
        width: 100%;
    }
    .crew_card{
        grid-template-columns: .5fr 1.5fr;
        gap: 1rem;
    }
    .footer{
        padding-block: 1.5rem;
    }
}
